<section class="box text-style1">
	<div class="inner">
		<table class="tab_list">
			<!-- TODO : ADD sum(IOC linked to actor)-->
			<thead>
				<tr>
					<th>Name : </th>
					<th>Type : </th>
				</tr>
			</thead>
			{% for actor in actors %}
				<tr class="table_line_clk" onclick="document.location.href='{% url 'actorDetails' actorName=actor.name %}'">
					<td class="table_cell_main">{{ actor.name }}</td>
					<td>{{ actor.get_kind_display }}</td>
				</tr>
			{% endfor %}
		</table>
		<div class="table_msg-pager">
			<p>Click on a row in the table to access details of an item.<p>
			{% if endpoints.has_previous %}
			<button class="pager"><a href="?page={{ endpoints.previous_page_number }}">Previous</a></button>
			{% endif %}
			{% if endpoints.has_next %}
			<button class="pager"><a href="?page={{ endpoints.next_page_number }}">Next</a></button>
			{% endif %}
		</div>
	</div>
</section>
