{% extends 'core/base.html' %}

{% block content %}
	<!-- Post -->
	<article class="box post post-excerpt">
		<header>
			<h2>compromise/ID : {{ compromise.id }}</h2>
			<br /><p>Compromise Details</p>
		</header>
		<section class="box text-style1">
		<div class="inner">
			<!--
			<div class="btn">
				<form class="form-inline" action="{% url 'compromiseNew' %}" method="post">
					{%csrf_token %}
					<input type="hidden" name="id" value="{{ compromise.id}}">
					<input type="hidden" name="artifact" value="{{ compromise.artifact_id }}">
					<input type="hidden" name="endpoint" value="{{ compromise.endpoint_id }}">
					<input type="hidden" name="dateDetection" value="{{ compromise.dateDetection}}">
					<input type="hidden" name="dateBegin" value="{{ compromise.dateBegin }}">
					<input type="hidden" name="dateEnd" value="{{ compromise.dateEnd }}">
					<button type="submit" class="btn btn-success">Modify</button>
				</form>
			</div>
			-->
			<table class="tab_list">
				<tr>
					<td><strong>Artifact :</strong> </td>
					<td><strong>{{ compromise.artifact_id }}</strong></td>
				</tr>
				<tr>
					<td>Endpoint : </td>
					<td>{{ compromise.endpoint_id }}</td>
				</tr>
				<tr>
					<td>Detection : </td>
					<td>{{ compromise.dateDetection }}</td>
				</tr>
				<tr>
					<td>First occurrence : </td>
					<td>{{ compromise.dateBegin }}</td>
				</tr>
				<tr>
					<td>Last occurrence : </td>
					<td>{{ compromise.dateEnd }}</td>
				</tr>
			</table>
			<form class="form-inline" action="{% url 'compromise' %}" method="post">
				{%csrf_token %}
				<input type="hidden" class="hidden" value="{{ compromise.id }}" name="delete">
				<button type="submit" class="btn_del">Delete</button>
  			</form>
		</div>
	</section>
	</article>
	
{% endblock %}